.hero-page2 {
  height: 100vh;
  background-color: var(--blue);
  position: relative;
  min-width: 100%;
}

/* how to parralax */
/* https://www.youtube.com/watch?v=wZK5_KWc8es */

/*--- Start Parallax Style --*/

.parallax-home2 {
  background: url("../../../public/image-of-a-man-standing-in-forest-at-night-with-a-bright-illuminated-square--portal-door-340.webp")
    100% !important;
  text-align: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center !important;
  background-color: var(--blue);
  width: 100%;
}

@media screen and (min-width: 500px) {
  .parallax-home2 {
    background: url("../../../public/image-of-a-man-standing-in-forest-at-night-with-a-bright-illuminated-square--portal-door-640.webp")
      fixed 100% !important;
    text-align: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: bottom center !important;
    background-color: var(--blue);
    width: 100%;
  }
}

.hero2-box {
  display: block;

  height: 100vh;
  width: 100%;
}

.hero2-quote {
  color: white;
}

@media screen and (min-width: 800px) {
  .parallax-home2 {
    background: url("../../../public/image-of-a-man-standing-in-forest-at-night-with-a-bright-illuminated-square--portal-door-1245.webp")
      fixed 100% !important;
    text-align: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: bottom center !important;
    background-color: var(--blue);
    width: 100%;
  }
}

/* quotes */

.bottom-container-div {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70%;

  /* margin-top: 3.5em;
  margin-bottom: 2em; */
  color: white;
}

/* quote animation */

.container-word {
  position: relative;
  width: 100%;
  text-align: center;
  height: 50px;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 4em;
}

@media screen and (min-width: 500px) {
  .bottom-container-div {
    padding-top: 50%;
  }
}
@media screen and (min-width: 900px) {
  .bottom-container-div {
    padding-top: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .bottom-container-div {
    padding-top: 30%;
  }
}

.word {
  opacity: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

@keyframes w1anim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes w2anim {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes w3anim {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@keyframes w4anim {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes w5anim {
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.w1 {
  -webkit-animation: w1anim 20s infinite;
  animation: w1anim 20s infinite;
}

.w2 {
  -webkit-animation: w2anim 20s infinite;
  animation: w2anim 20s infinite;
}

.w3 {
  -webkit-animation: w3anim 20s infinite;
  animation: w3anim 20s infinite;
}

.w4 {
  -webkit-animation: w4anim 20s infinite;
  animation: w4anim 20s infinite;
}

.w5 {
  -webkit-animation: w5anim 20s infinite;
  animation: w5anim 20s infinite;
}

.w6 {
  -webkit-animation: w5anim 20s infinite;
  animation: w5anim 20s infinite;
}
