.background {
  background-color: var(--blue);
  min-height: 96vh;
  width: 100%;
  background-image: url("../../../public/image-of-a-black-tiled-background-hwich-has-a-blue-illuminated-button-with-the-words-start-now-lit-up-in-purple.webp") !important;
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover !important;
  padding-top: 200px;
}
.page-container {
  display: flex;
  flex-direction: column;
  max-height: 96vh;
  width: 100%;
  margin: auto;
  /* border: 2px solid rgb(110, 164, 104); */
  color: white;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  height: 80vh;
}

.page-container:hover {
  cursor: pointer;
}

.contact-info {
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50%;
}

.contact-info p {
  margin-top: 0.5em;
}

@media screen and (min-width: 300px) {
  .contact-info {
    padding-bottom: 40%;
  }
}

@media screen and (min-width: 350px) {
  .contact-info {
    padding-bottom: 35%;
  }
}

@media screen and (min-width: 400px) {
  .contact-info {
    padding-bottom: 30%;
  }
}
@media screen and (min-width: 500px) {
  .contact-info {
    padding-bottom: 25%;
  }
}

@media screen and (min-width: 600px) {
  .contact-info {
    padding-bottom: 18%;
  }
}

@media screen and (min-width: 700px) {
  .contact-info {
    padding-bottom: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    padding-bottom: 12%;
  }
}

@media screen and (min-width: 1600px) {
  .contact-info {
    padding-bottom: 8%;
  }
}

@media screen and (min-width: 1800px) {
  .contact-info {
    padding-bottom: 5%;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5);
  background-color: var(--blue); */
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 6;
}

.modal-content {
  display: block;
  border-radius: 5px;
  width: 90%;

  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: white;
  padding: 1em;

  border: 2px solid var(--color-gold);
  background: linear-gradient(
    to right,
    #0c244c,
    #0c2454,
    #0c2454,
    #041c3c,
    #0c2444,
    #041434,
    #0c1c3c,
    #08284c,
    #041c40,
    #041c40
  );
}

.mobile {
  display: inline;
}
.desktop {
  display: none;
}

@media screen and (min-width: 400px) {
  .modal-content {
    margin-top: 20%;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 500px) {
  .modal-content {
    margin-top: 30%;
  }
}

@media screen and (min-width: 600px) {
  .modal-content {
    margin-top: 20%;
  }
}

@media screen and (min-width: 768px) {
  .modal-content {
    margin-top: 15%;
    width: 75%;
  }

  .modal-backdrop {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
  }
}

@media screen and (min-width: 900px) {
  .modal-content {
    margin-top: 15%;
    width: 70%;
  }
}
@media screen and (min-width: 1000px) {
  .modal-content {
    margin-top: 15%;
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-content {
    margin-top: 10%;
    width: 55%;
  }
}

@media screen and (min-width: 1400px) {
  .modal-content {
    margin-top: 10%;
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: inline;
  }
}

@media screen and (min-width: 800px) {
  .background {
    width: 100%;
    height: 80vh;
    /* padding-top: 150px; */
  }
  .page-container {
    /* border: 2px solid blue; */
    height: 80vh;
  }
}

/* background image */

/* @media screen and (min-width: 400px) {
  .background {
    background-color: var(--blue);
    min-height: 96vh;
    width: 100%;

    background-image: url("../../../public/contact-1500.webp") !important;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-size: cover !important;
  }
} */

@media screen and (min-width: 1800px) {
  .background {
    /* background-color: var(--blue);
    min-height: 96vh;
    width: 100%;
    background-image: url("../../../public/iStock-1366005418\ \(1\).jpg") !important;

    background-repeat: no-repeat; */
    /* background-position: center center; */

    background-position: center -100px !important;
    /* background-size: cover !important; */
  }
}

/* 320 x 533 */
/* nokia lumia */
@media (width: 320px) and (height: 533px) {
  .modal-content {
    margin-top: 5%;
  }
}

/* dimensions surfacr duo */
@media (width: 540px) and (height: 720px) {
  .modal-content {
    margin-top: 5%;
  }
}

/* nest hub 1024*600 */
@media (width: 1024px) and (height: 600px) {
  .modal-content {
    margin-top: 1%;
    /* height: 99%; */
  }
}

/* nest hub max 1280 * 800 */
@media (width: 1280px) and (height: 800px) {
  .modal-content {
    margin-top: 5%;
  }
}

/* iphine 320&568 */
@media (width: 320px) and (height: 568px) {
  .modal-content {
    margin-top: 5%;
    height: 80%;
  }
}
