/* form  */
.form-container {
  width: 100%;
  margin: 0 auto;
}

.contact-me {
  padding-top: 1.5em;
}

#modal-cross {
  color: var(--color-gold);
  float: right;

  height: 1.5em;
  width: 1.5em;
}

.form-group {
  margin: 0.825em 0;
}
.red-star {
  color: white;
}

/* label, */
input,
select,
textarea {
  display: block;
  width: 100%;
  color: var(--color-gold);
  font-weight: bold;
  transition: all 0.3s;
  outline: none;
  font-size: 1rem;
  padding-left: 0.5em;
  /* background-color: white; */
  background-color: transparent;
}

.form-group > label {
  margin: 0.25em 0;
  color: white;
}

input,
select {
  border: none;
  line-height: 2.25rem;
}

textarea {
  border: 2px var(--color-gold) solid;
}

select {
  padding-left: 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-gold);
  opacity: 0.5;
  /* padding-left: 0.25em; */
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.form-group > textarea {
  height: 200px;
  font-weight: bold;
  /* font-size: 1rem; */
}

/* forms */
.alert {
  padding: 0.5em;
  margin: 5px;
}
.alert-danger {
  color: red;
  background-color: rgb(246, 196, 196);
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

.text-danger {
  color: red;
}
.text-success {
  color: green;
}

.alert-success {
  color: var(--color-gold);
  font-weight: 700;
  padding: 0.5em;
  text-align: center;
  width: 100%;

  /* background-color: white; */
}
.text-capitalize {
  text-transform: capitalize;
}

.alert {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.center {
  text-align: center;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* //submit button */
#submit-btn {
  border-radius: 5px;
  padding: 0.5em 0.75em;
  color: white;
  /* background-color: black; */
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  cursor: pointer;
  /* font-weight: bold; */
  transition: all 0.5s ease-out;
  text-transform: uppercase;
  margin-bottom: 1em;
  width: 30%;

  margin-left: auto;
  margin-right: auto;
}
#submit-btn:hover {
  /* color: black;
  background-color: white; */
  border: 2px solid var(--color-gold);
  opacity: 0.7;
  color: var(--color-gold);
}

.bold {
  font-size: 700;
}

/* nokia lumia 520 533 */
@media (width: 320px) and (height: 533px) {
  .form-group > textarea {
    height: 80px;
  }
}

/* no */
@media (width: 320px) and (height: 533px) {
  .form-group > textarea {
    height: 100px;
  }
}

/* nest hub*/
@media (width: 1024px) and (height: 600px) {
  .form-group > textarea {
    height: 100px;
  }
}

/* iphine*/
@media (width: 320px) and (height: 568px) {
  .form-group > textarea {
    height: 100px;
  }
}
