.about-page {
  width: 100%;
  color: var(--white);
  /* 
  background-image: url("../../../public/about-me-page-image-of-a-stage-studio-set-with-bright-white-lights-shining-down-on-to-a-wooden-floor-stage-360.webp"); */
  background-image: url("../../../public/about-me-page-image-of-a-stage-studio-set-with-bright-white-lights-shining-down-on-to-a-wooden-floor-stage-w600.webp") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;

  background-color: var(--blue);

  /* min-height: 100vh; */
  min-height: 96vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

@media screen and (min-width: 300px) {
  .about-page {
    padding-top: 110px;
  }
}

@media screen and (min-width: 400px) {
  .about-page {
    padding-top: 135px;
  }
}

@media screen and (min-width: 450px) {
  .about-page {
    padding-top: 90px;
  }
}

@media screen and (min-width: 1000px) {
  .about-page {
    padding-top: 13%;
  }
}

#about-btn-div {
  margin-top: 2em;
  margin-bottom: 2em;
}
#about-btn {
  text-transform: uppercase;

  border-radius: 5px;
  /* padding: 15px; */
  color: var(--black);
  /* font-weight: 900; */
  background-color: #f5c518;
  border: 2px solid #f5c518;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
  width: 150px;
  text-align: center;
  border: 2px solid var(--black);
}

#about-btn:hover {
  color: #f5c518;
  background-color: var(--black);
  font-weight: bold;
}
.about-me-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.about-me-box {
  /* padding: 2em; */
  margin-top: 0;
  margin-bottom: 1em;
}

.about-me-box {
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
}

.about-me-buttons-container {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#imdb-btn {
  border-radius: 5px;
  /* padding: 15px; */
  color: var(--black);
  /* font-weight: 900; */
  font-weight: bold;
  background-color: #f5c518;
  border: 2px solid #f5c518;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
  width: 150px;
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--black);
}

#imdb-btn:hover {
  color: #f5c518;
  background-color: var(--black);
  font-weight: bold;
}

#about-btn-div {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (min-width: 550px) {
  .about-me-buttons-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .about-me-box {
    text-align: center;
  }
  .about-me-buttons-container {
    justify-content: space-between;
    margin-top: 0%;
    width: 70%;
  }

  .about-me-box h4 {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .about-me-buttons-container {
    width: 70%;
    justify-content: space-evenly;
  }
}

/* 340*191 */
@media (min-width: 600px) {
  .about-page {
    min-height: 96vh;
    display: block;
    width: 100%;
    background-image: url("../../../public/about-me-page-image-of-a-stage-studio-set-with-bright-white-lights-shining-down-on-to-a-wooden-floor-stage.webp") !important;

    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;

    background-color: var(--blue);
  }
}

/* @media (min-width: 1000px) {
  .about-page {
    height: 94vh !important;
    padding-top: 100px;
    display: block;
    width: 100%;
    background-image: url("../../../public/about-me-1200.webp") !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    background-color: var(--blue);
  }
} */
