.priceBox-new {
  width: 100%;
  min-height: 100vh;
  color: var(--white);
  padding-bottom: 2em;
  /* border: 2px solid yellow; */ /* arrow */
  position: relative;
}

.prices {
  margin-top: 150px;

  margin-bottom: 2.5em;
}

.price-container {
  /* border: 2px solid red; */
  margin-bottom: 1em;
}

.price-card-new {
  /* border: 2px solid blue; */
  padding: 0em;
  margin-left: 0;
}
/* .center-div {
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media screen and (min-width: 300px) {
  .prices {
    margin-top: 10px;
  }
}

@media screen and (min-width: 400px) {
  .prices {
    margin-top: 10px;
  }
}

.first-section {
  margin-bottom: 0em;
}

.services-header {
  margin-bottom: 0.5em;
  text-align: center;
}

.price-h2 {
  padding-bottom: 0.5em;
}

.price-hr {
  margin-top: 2em;
  margin-bottom: 2em;
  color: var(--color-gold);
}

/* ############################### */

.ul-container {
  /* border: 2px solid red; */
  margin-top: 0em;
  margin-bottom: 2em;
}

.points {
  list-style-position: none;

  color: white;
}

.price-card-new {
  margin-top: 2em;
  margin-bottom: 2em;
}

.discount,
.last-paragraph {
  text-align: left;
}

/* ******** */

#service-btn-div {
  margin-top: 2em;
  margin-bottom: 2em;
}
#service-btn {
  border-radius: 5px;
  padding: 15px;
  color: var(--white);
  /* background-color: var(--black); */
  border: 2px solid var(--white);
  text-decoration: none;
  cursor: pointer;

  transition: all 0.5s ease-out;
  text-transform: uppercase;
}

#service-btn:hover {
  color: var(--color-gold);

  font-weight: bold;
  border: 2px solid var(--color-gold);
}

@media screen and (min-width: 768px) {
  .ul-container {
    display: flex;
    justify-content: space-evenly;
  }

  .ul-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    margin-bottom: 1em;
  }

  .ul-container {
    margin-bottom: 0;
  }

  .my-underline {
    text-decoration: none;
  }

  .price-card-new {
    width: 48%;
    height: 50%;
    /* border: 2px solid blue; */
    text-align: center;

    margin-bottom: auto;
  }

  .price-h2 {
    margin-top: auto;
  }

  .price {
    margin-top: auto;
    margin-bottom: auto;
  }

  .bottom-para {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .first-section,
  .discount,
  .last-paragraph {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .price-container {
    min-height: 60vh;
  }
}

@media screen and (min-width: 1000px) {
  .price-container {
    min-height: 100%;
  }
}
