/* Container holding the image and the text */
.container {
  /* min-height: 100vh; */
  display: block;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/service600-400.webp") !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  background-color: var(--blue);
  position: relative;
}

@media screen and (min-width: 1200px) {
  .container {
    /* min-height: 100vh; */
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/service600-400.webp") !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    background-color: var(--blue);
  }
}

.container2 {
  /* min-height: 100vh; */
  display: block;
  width: 100%;
  min-height: 96vh;
  /* background-image: url("../../../public/life-coaching-B-1500.webp") !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center; */
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: var(--blue);

  background: linear-gradient(
    to right,
    #0c244c,
    #0c2454,
    #0c2454,
    #041c3c,
    #0c2444,
    #041434,
    #0c1c3c,
    #08284c,
    #041c40,
    #041c40
  );
}

.center-container {
  padding-top: 12%;
}

.services-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  margin-left: auto;
  margin-right: auto;
}

#services-btn1-div {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

#five {
  color: white;
  border: 2px solid white;
}

#five:hover {
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
}
