/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/tenorite"); */

/* @import url("https://fonts.cdnfonts.com/css/tenorite?styles=102681,102679,102680,102678"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #0c2752;
  /* --color-gold: #c4ad65; */

  --color-gold: #e90695;

  --green: #9edccd;

  --white: #ffffff;
  --black: black;

  --grey: #6f737f;
  --spacing: 0.1rem;
  --max-width: 1170px;
  --fixed-width: 620px;

  /* slider */
  --background-color: #2f3542;

  /* contact footer */
  --light-white: #fff5f5;
  --text-color-greener: green;

  /* contact form */
  --hr-color: #c4ad65;
}

.p-white {
  color: Var(--bg-white);
}

.gold {
  color: var(--color-gold);
  font-weight: bolder;
}
.html {
  scroll-behavior: smooth;
}
/* .text-shadow,
.text-shadow {
  font-size: 1.5rem;
  text-align: center;
} */

body {
  /* font-family: "Tenorite", sans-serif; */
  /* font-family: "Tenorite", "Poppins", "Montserrat"; */
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

p,
li,
h1,
h2,
h3 {
  /* long words break to new line */
  overflow-wrap: break-word;

  /* text-align: justify; */
}

p {
  /* text-align: justify; */
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}
hr {
  border: none;
  border-top: 1px solid var(--hr-color);
}

.h1,
h2,
h3,
h4,
h5,
p,
li {
  /* font-weight: 700;
  font-size: 1rem; */
  text-shadow: -2px -1px black;
  text-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
  text-shadow: -2px 0 2px black;
  /* margin-bottom: 0em;
  padding-bottom: 0; */
  /* text-align: left; */
}

/* 
flex box */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-col,
.right-col {
  width: 50%;
}

/* Text Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center,
.center {
  text-align: center;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
  color: var(--white);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: var(--white);
}

.bg-black {
  background: #000;
  color: var(--white);
}

/* Media Queries */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}

@media (max-width: 670px) {
  /* Text */
  .text-xl {
    font-size: 1.9rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }
}

/* Buttons */
.btn {
  display: inline-block;

  text-decoration: none;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  text-transform: uppercase;
  /* padding: 0.25em 0.5em; */
  padding: 0.5em 0.75em;
  transition: all 0.5s ease-out;
  color: yellow;
}

.btn-primary {
  color: white;
  background-color: var(--text-color-green);
}
.btn-primary:hover {
  /* font-weight: bolder; */
  opacity: 0.7;
}

.btn-dark {
  background: var(--black);
  color: var(--white);
}

.light-white {
  color: var(--light-white);
}

.capital {
  text-transform: uppercase;
}

.monty {
  font-family: "Montserrat";
  font-weight: 600;
}

.poppy {
  /* font-family: "Poppins"; */
  font-weight: 800;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

p {
  margin-bottom: 0.5em;
}

/* spinner + loading component */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-color-green {
  color: var(--text-color-green);
}

.text-color-greener {
  color: var(--text-color-greener);
}

.text-color-grey {
  color: var(--grey);
}

.my-underline {
  text-decoration: underline;
}
