/* Layout : Nav childen footer */
.App {
  min-height: 100vh;
  /* new small viewport height for modern browsers */
  /* min-height: 100svh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-menu-container {
  width: 90%;
  margin: 0 auto;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  max-width: var(--max-width);
  /* border: 2px red solid; */
}

@media screen (min-width: 768px) {
  .main-container {
    width: 90%;
    margin: 0 auto;
    max-width: var(--max-width);
    border: 2px red solid;
  }
}
