.hero-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: var(--white);
  padding-top: 1em;
  background-image: url("../../../public/purple-background-with-a-light-bulb-illumatining-a-ligh-purple-glow-340.webp") !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  background-color: var(--blue);
  /* arrow */
  position: relative;
}

.hero3-header {
  text-align: center;
}

#hero3-btn-div {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 5em;
}

#service-btn {
  border-radius: 5px;
  /* padding: 15px; */
  color: var(--white);
  /* background-color: var(--black); */
  border: 2px solid var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  text-transform: uppercase;
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
  width: 150px;
  text-align: center;
}

#service-btn:hover {
  color: var(--color-gold);
  /* background-color: var(--color-gold); */
  font-weight: bold;
  border: 2px solid var(--color-gold);
}

/* ******** */

@media screen and (min-width: 800px) {
  .hero-3 {
    background-image: url("../../../public/purple-background-with-a-light-bulb-illumatining-a-ligh-purple-glow-640.webp") !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
  }
}

@media screen and (min-width: 800px) {
  .hero-3 {
    background-image: url("../../../public/purple-background-with-a-light-bulb-illumatining-a-ligh-purple-glow-1024.webp") !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
  }
}
