.first {
  background: linear-gradient(
    to right,
    #0c244c,
    #0c2454,
    #0c2454,
    #041c3c,
    #0c2444,
    #041434,
    #0c1c3c,
    #08284c,
    #041c40,
    #041c40
  );

  height: 100vh;
  display: block;
  width: 100%;
  background-image: url("../../../public/image-of-mountain-man-standing-on-top-of-a-mountain-which-has-an-illuminated-neon-pink-portal-door-with-a-blue-sky-and-red-clouds-340.webp") !important;

  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .first {
    background-color: var(--blue);
    height: 100vh;

    display: block;
    width: 100%;

    background-image: url("../../../public/image-of-mountain-man-standing-on-top-of-a-mountain-which-has-an-illuminated-neon-pink-portal-door-with-a-blue-sky-and-red-clouds-640.webp") !important;

    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
  }
}
@media (min-width: 1400px) {
  .first {
    background-color: var(--blue);
    min-height: 100vh;
    display: block;
    width: 100%;

    background-image: url("../../../public/image-of-mountain-man-standing-on-top-of-a-mountain-which-has-an-illuminated-neon-pink-portal-door-with-a-blue-sky-and-red-clouds-1024.webp") !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: bottom 0.1px center;
  }
}
