.container-hero4 {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/home-section4-340.webp") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--blue);
  /* border: 2px solid red; */

  padding-top: 15%;
  padding-bottom: 15%;
}

.hero-4-text {
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 1em;
}

.hero2-page-main {
  color: white;
}

@media screen and (min-width: 800px) {
  .container-hero4 {
    background-image: url("../../../public/home-section4-340.webp") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--blue);
  }
}

@media screen and (min-width: 1200px) {
  .container-hero4 {
    background-image: url("../../../public/home-section4-340.webp") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--blue);
  }
}
