.life-coach-section {
  min-height: 100vh;
  width: 100%;
  padding-top: 200px;
  color: var(--green);
  font-weight: 700;
  padding-bottom: 6em;
}

.lf-section-1 {
  width: 100%;
  height: 100%;
}

/* 1st */
.item1 {
  /* padding-top: 65px; */
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--green);

  font-weight: 900;
}

/* buttons */

.hero1-btn {
  border-radius: 5px;
  padding: 0.5em;

  border: 2px solid var(--black);
  text-decoration: none;
  cursor: pointer;
  margin-top: 0;
  transition: all 0.5s ease-out;
  text-transform: uppercase;
  padding: 1em 1em;
}
#one {
  color: var(--green);
  border: 2px solid var(--green);
}

#two {
  color: var(--green);
  border: 2px solid var(--green);
}
#one:hover,
#two:hover {
  border: 2px solid var(--color-gold);
  font-weight: bold;
  color: var(--color-gold);
}
.hero1-button-container {
  display: none;
}
@media screen and (min-width: 400px) {
  /* 2nd item */
  .hero1-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px var(--white) solid; */
    width: 100%;

    padding: 1em;
    margin-top: 5%;
    margin-bottom: 1em;
  }
  .hero1-btn-btn-div {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 550px) {
  .hero1-button-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 800px) {
  .hero1 {
    padding-top: 180px;
  }

  /* .item1 p {
    font-size: 1.6rem;
  } */

  .hero1-button-container {
    justify-content: space-between;
    margin-top: 0%;
    width: 80%;
  }
  .life-coach-section {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1000px) {
  .hero1-button-container {
    width: 60%;
    justify-content: space-between;
  }
}

/* 320 x 533 */
/* nokia lumia */
@media (width: 320px) and (height: 533px) {
  .hero1 {
    min-height: 100vh;
    width: 100%;
    /* background-color: blue; */
    padding-top: 80px;
    color: var(--white);

    font-weight: 700;
  }
  /* 
  .item1 p {
    font-size: 0.7rem;
  } */
}

/* iphone 5se 320x568 */
@media (width: 320px) and (height: 568px) {
  .hero1 {
    min-height: 100vh;
    width: 100%;
    /* background-color: blue; */
    padding-top: 95px;
    color: var(--white);

    font-weight: 700;
  }

  /* .item1 p {
    font-size: 0.7rem;
  } */
}
