.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 360px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../public/home-section1-340.webp") !important;

    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    overflow: hidden;
  }
}

@media (max-width: 599px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../public/home-section1-600.webp") !important;

    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    background-color: var(--blue);

    /* overflow: hidden; */
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../public/home-section1-1024.webp") !important;

    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    /* overflow: hidden; */
    /* min-height: 95vh; */
    background-color: var(--blue);
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../public/home-section1-1024.webp") !important;

    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    /* overflow: hidden; */
    height: 100vh;

    background-color: var(--blue);
  }
}
